| **Data Science Tools**       |
|------------------------------|
| Jupyter Notebook             |
| RStudio                      |
| Spyder                       |

# Objectives

* Popular languages in data science 
- Python
- R
- Julia     
- Scala
- SQL

# Examples of arithmetic expressions
3 + 5    # Addition
10 - 4   # Subtraction
6 * 7    # Multiplication
8 / 2    # Division

# This a simple arithmetic expression to mutiply then add integers.

In [13]:
result = (3 * 4) + 5
print(result)

17

In [15]:
#  This will convert 200 minutes to hours by diving by 60

In [17]:
result = (200/60)
print(result)

3.3333333333333335